.bl_media {
    display: flex;
    align-items: center;
  }
  
  .bl_media_imgWrapper {
    flex: 0 1 27.58333%;
    margin: 0 3.33333% 0 0;
  }
  
  .bl_media_imgWrapper > img {
    width: 100%;
  }
  
  .bl_media_body {
    flex: 1;
  }
  
  .bl_media_body > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_media_ttl {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  .bl_media_txt {
    margin-top: 0;
  }
  
  @media screen and (max-width: 768px) {
    .bl_media {
      display: block;
    }
  
    .bl_media_imgWrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  