.ly_header {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}

.ly_header_inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
}

.footer-border-top-gray {
    border-top: 1px solid #777;
}

.footer__inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}